.wrapper {
    width: 100%;
    padding-top: 100px;
    padding-right: 100px;

    @media(max-width: 991px) {
        width: 700px;
    }

    .col-card {
        min-height: 650px;

        .barrier {
            position: absolute;
            padding-bottom: 10px;
            width: 80%;
            border-bottom: 6px solid #ffd78f;

            &.l {
                top: 60px;
                left: 0;
            }

            &.r {
                top: 265px;
                right: 0;
            }
        }

        &.first {
            background: #b6b6b6;

            .title {
                position: absolute;
                bottom: 100%;
                text-align: center;
                width: 100%;
            }
        }

        &.second {
            padding-top: 100px;

            .gate-house {
                height: 200px;
                background: #5b9bd5;
                border: 1px solid #000;
            }

            .intercom {
                margin-top: 20px;
                height: 80px;
                border-right: 15px solid #000;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }

        &.third {
            background: #b6b6b6;
            position: relative;

            .cctv-1 {
                position: absolute;
                right: calc(100% + 10px);
                bottom: calc(100% + 10px);
                width: auto;
                white-space: nowrap;

                p {
                    display: flex;
                    align-items: center;
                }

                .CCTV-up-left {
                    display: inline-block;
                    margin-left: 5px;
                    width: 30px;
                    height: 30px;
                    background: #4472c4;
                    border-radius: 50%;
                    border-bottom-right-radius: 0;
                }
            }

            .visitors {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding-bottom: 60px;
            }

            .anpr-1 {
                position: absolute;
                right: calc(100% + 10px);
                bottom: 0;
                width: auto;
                white-space: nowrap;
                text-align: right;

                p {
                    display: flex;
                    align-items: center;
                }

                .anpr-bottom-left {
                    display: inline-block;
                    margin-right: 5px;
                    width: 30px;
                    height: 30px;
                    background: #4472c4;
                    border-radius: 50%;
                    border-top-right-radius: 0;

                }
            }

            .entry {
                position: absolute;
                top: calc(100% + 20px);
                right: -65px;
                font-size: 25px;
            }
        }

        &.fourth {
            border-left: 2px solid #fff;
            background: #b6b6b6;
            position: relative;

            .cctv-2 {
                position: absolute;
                left: calc(100% + 10px);
                bottom: calc(100% + 10px);
                width: auto;
                white-space: nowrap;

                p {
                    display: flex;
                    align-items: center;
                }

                .CCTV-up-right {
                    display: inline-block;
                    margin-right: 5px;
                    width: 30px;
                    height: 30px;
                    background: #4472c4;
                    border-radius: 50%;
                    border-bottom-left-radius: 0;
                }
            }

            .residents {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding-bottom: 60px;
            }

            .anpr-2 {
                position: absolute;
                left: calc(100% + 10px);
                bottom: 0;
                width: auto;
                white-space: nowrap;

                p {
                    display: flex;
                    align-items: center;
                }

                .anpr-bottom-right {
                    display: inline-block;
                    margin-right: 5px;
                    width: 30px;
                    height: 30px;
                    background: #4472c4;
                    border-radius: 50%;
                    border-top-left-radius: 0;
                }
            }

        }
    }
}